@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

body{
    background-image: linear-gradient(to left, blue, red);
}
#conteiner{
    text-align: center;
    background-color: inherit;
    margin-top: 70px;
   
}

input{
    width: 600px;
    height: 40px;
    border: none;
    font-size: 27px;
    font-family: 'Benne', serif;

}
.excluir, .concluida{
    height: 40px;
    width: 40px;
    border: none;
    color: white;
}
.adicionar{
    color: white;
    background-color: rgb(61, 0, 117);
    height: 47px;
    width: 43px;
    border-radius: 0px 10px 10px 0px;

    border: none;
}
.concluida{
    background-color: green;
    padding-top:5px ;
    height: 47px;


}
.excluir{
    background-color: red;
    border-radius: 0px 10px 10px 0px;
    padding-top:5px ;
    height: 47px;



}
.lista{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;


}

.adicionar_lista{
    display: flex;
    justify-content: center;
    align-items: center;    


}
.tarefa{
    width: 605px;
    height: 40px;
    border: none;
    display: flex;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Benne', serif;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    padding-top:5px ;

    
    
}
section h1, section h2{
    color: white;
    font-size: 25px;
    font-family: 'Courgette', 'cursive';
}
.texto_tarefa{
    border-radius: 10px 0px 0px 10px;
    padding-top:5px ;
}
